<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">简历 - 个人信息</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">专业技能</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>C语言</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>PCB设计</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="65%">
                <div class="skillbar-title"><span>QT</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="35%">
                <div class="skillbar-title"><span>项目设计</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        <!--
        
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Skills</div>
            <div class="clear"></div>
        </div>
        
        
        <div class="skills">
            
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Wordpress</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Joomla</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Drupal</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            
            <div class="skillbar clearfix" data-percent="89%">
                <div class="skillbar-title"><span>Php</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">89%</div>
            </div>
            
        </div>
        -->
    
        <!--
        <div class="title_content" style="float: none;">
            <div class="text_content">Office Skills</div>
            <div class="clear"></div>
        </div>
        
            
        <div class="skills">       
            
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>MS Excel</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            
            
            
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>MS Word</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            
            
            
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Powerpoint</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            
            
           
            <div class="skillbar clearfix " data-percent="40%">
                <div class="skillbar-title"><span>SharePoint</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
           
		</div>
        
        
        
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies Skills</div>
            <div class="clear"></div>
        </div>
        
        
        <div class="skills">
            
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Music</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            
            
            
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Sport</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            
            
            
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Reading</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            
            
            
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Travelling</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            
        </div>
        
        
        
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        
        
        <div class="skills">
            
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            
            
            
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>French</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            
            
            
            <div class="skillbar clearfix " data-percent="50%">
                <div class="skillbar-title"><span>Spanish</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            
            
            
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Swiss</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            
        </div>
        -->
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">我的简历</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> 下载我的简历</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">经历</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!--
        <ul class="attributes">
            <li class="first">
                <h5>Web Developer <span class="duration"><i class="fa fa-calendar color"></i> 2011 - 2013</span></h5>
                <h6><span class="fa fa-briefcase"></span> Name of Company</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
            </li>
            <li>
                <h5>Front-End Developer <span class="duration"><i class="fa fa-calendar color"></i> 2010 - 2011</span></h5>
                <h6><span class="fa fa-briefcase"></span> Name of Company</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
            </li>

        </ul>
        
        <br>
        -->
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">教育</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>工科 <span class="duration"><i class="fa fa-calendar color"></i> 2017 - 2021</span></h5>
                <h6><span class="fa fa-book"></span> 海南师范大学</h6>
                <p>海南师范大学（Hainan Normal University）简称海南师大、海师，是中华人民共和国教育部和海南省人民政府共建高校、海南省重点大学，入选中小学教师国家级培训计划、卓越教师培养计划、中西部高校基础能力建设工程、全国深化创新创业教育改革示范高校、国家级大学生创新创业训练计划，是联合国教科文组织中国创业教育联盟理事单位，海南省院士工作站设站单位，具有推荐优秀应届本科毕业生免试攻读研究生的全日制普通高等学校。</p>
            </li>
			<!--
            <li>
                <h5>Bachelor of Engineering <span class="duration"><i class="fa fa-calendar color"></i> 2010 - 2011</span></h5>
                <h6><span class="fa fa-book"></span> Name of University</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
            </li>
			-->
        </ul>
        <!-- /.attributes -->
        <br>  
        
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">获奖情况</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>大一 <span class="duration"><i class="fa fa-calendar color"></i> 2017 - 2018	</span></h5>
                <p>校级优秀团员<br>13届恩智浦智能汽车竞赛华南赛区二等奖<br/>  
			</p>
            </li>
            <li>
                <h5>大二 <span class="duration"><i class="fa fa-calendar color"></i> 2018 - 2019</span></h5>
                <p>校级优秀团干<br/> 
				<br>院团委部长一职<br/> 
				<br>优秀三好学生<br/> 
				<br>14届恩智浦智能汽车竞赛浙江赛区二等奖<br/> 
				参与海南师范大学国家级创新创业项目
            </li>
			<li>
                <h5>大三 <span class="duration"><i class="fa fa-calendar color"></i> 2019 - 2020</span></h5>
                <p>三好学生
				<br>优秀团员<br/> 
				</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- 
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            

        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Client reference</div>
            <div class="clear"></div>
        </div>

        

        <ul>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“Many desktop publishing packages and web page editors now use Lorem Ipsum as their default will model text, and a search for 'lorem ipsum' hope is uncover many web sites still”</p>
                <span>John Doe, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“very nice colleague she always helped me out if i didnt know something editors now use Lorem Ipsum as their default”</p>
                <span>Leia Calvi, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“old colleague and now close friend, she is really sweet and helpfull packages and web page editors now use Lorem Ipsum as their default will model text”</p>
                <span>Maria Callas, UX Designer</span>
            </li>
        </ul>
</div>
</div>

     
<div style="clear: both"></div>   
</div>
client reference -->
</div>

<!-- End .resume -->